<div>Aanmelden voor een seminar</div>

<form name="aanmelding" action="/Math/Verwerken" method="get">
    <div>Naam: <input name="Naam" type="text" /></div>
    <div>Geboortejaar: <input name="Geboortejaar" type="text" /></div>
    <div><input type="submit" value="Aanmelden" /></div>
</form>
